body {
  margin: 0;
  font-family: "Roboto", Arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://pixabay.com/get/gd580a670db27221e24885be9deedd7542ca1113b376ba15d35de2fedd54aff42d02704afa6363b716b30ac5b4dea013f960f85be4f63f8ed70f991712fce26a2_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

